####################################################################################################
## @file        .gitignore
 #  @brief      Style Repository
 #  @details    x
 #
 #  @author     Justin Reina, Embedded Connectivity Engineer (Contractor via LTTS)
 #  @created    x
 #  @last rev   x
 #
 #  @section    Legal Disclaimer
 #      © 2025 Mercury Marine, All rights reserved. All contents of this source file and/or any other 
 #        related source files are the explicit property of Mercury Marine. Do not distribute. Do 
 #        not copy.
##
####################################################################################################


####################################################################################################
##                                         PROJECT REPOS                                          ##
####################################################################################################
Work/CppProject


####################################################################################################
##                                          BUILD FILES                                           ##
####################################################################################################
Work/Proj/Debug

####################################################################################################
##                                       IGNORED PROJECT FILES                                    ##
####################################################################################################
Work/Proj/.settings/language.settings.xml


